<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- add entry to enable component scanning -->

    <context:component-scan base-package="com.ronyo.learnspring" />
    <context:property-placeholder location="classpath:sport.properties" />

    <bean id="myFortune"
        class="com.ronyo.learnspring.HappyFortuneService">
    </bean>
    <bean id="myCoach"
          class="com.ronyo.learnspring.TrackCoach">
        <constructor-arg ref="myFortune" />
    </bean>
    <bean id="esportsCoach" class="com.ronyo.learnspring.EsportsCoach">
    </bean>

    <bean id="myCricketCoach" class="com.ronyo.learnspring.CricketCoach">
        <property name="fortuneService" ref="myFortune" />
        <property name="emailAddress" value="coach@cricket.com" />
        <property name="team" value="Rony O Cuinn Rammers" />
    </bean>

    <bean id="rivalCricketCoach" class="com.ronyo.learnspring.CricketCoach">
        <property name="fortuneService" ref="myFortune" />
        <property name="team" value="${foo.team}" />
        <property name="emailAddress" value="${foo.email}" />
    </bean>

</beans>